.actionLink-button {
    width: 99px;
    height: 48px;
    border-radius: 40px;
    padding: 12px 24px;
    background-color: $btn-prime-color;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;    

    .actionLink {
        color: $btn-prime-font-color;
    }

    &:hover {
            background-color: $btn-prime-hover-color;
        }
}