<app-header
  [actionLink]="'/auth/register'"
  [actionText]="'Sign up'"
></app-header>

<main class="content flex-center">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="overlay_box"
    novalidate
  >
    <h1>Log in</h1>

    <!-- Success Message von Forgot Password -->
    @if (successMessage) {
      <div class="success_message">
        <div class="success-icon"></div>
        <div class="success-text">{{ successMessage }}</div>
      </div>
    }

    <!-- Email Field -->
    <div class="form_group" [class.error]="isFieldInvalid('email')">
      <img src="/assets/icons/mail.png" alt="Icon" />
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder=""
        autocomplete="username"
        required
      />
      <label for="email">Email Address</label>
    </div>

    <!-- Password Field -->
    <div class="form_group" [class.error]="isFieldInvalid('password')">
      <img src="/assets/icons/password.png" alt="Icon" />
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        formControlName="password"
        placeholder=""
        autocomplete="current-password"
        required
      />
      <label for="password">Password</label>
      <img
        (click)="togglePassword()"
        class="password_eye"
        [src]="
          showPassword ? '/assets/icons/visibility_off.svg' : '/assets/icons/visibility.svg'
        "
        alt="Toggle password visibility"
      />
    </div>

    <!-- Login Error -->
    @if (loginError) {
    <p class="login_error">{{ loginError }}</p>
    } 
    @if (isFieldInvalid('email')) {
    <p class="error_label">Please enter a valid email address.</p>
    }
    @if (isFieldInvalid('password')) {
<p class="error_label">Password is required.</p>
}

    <!-- Submit Button and Forgot Password -->
    <div class="form_actions">
      <button
        type="submit"
        class="actionLink-button"
        [disabled]="loginForm.invalid || isSubmitting"
      >
        {{ isSubmitting ? "Logging in..." : "Log in" }}
      </button>

      <a routerLink="/auth/forgot-password" class="link"> Forgot password? </a>
    </div>

    <!-- Sign Up Link -->
    <div class="form_footer">
      <p>
        New to Videoflix?
        <a routerLink="/auth/register" class="link">Sign up now</a>
      </p>
    </div>
  </form>
</main>


<app-footer></app-footer>
