<app-header [actionLink]="'/auth/login'" [actionText]="'Sign in'"></app-header>

<main class="content flex-center">
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="overlay_box"
    novalidate
  >
    <h1>Forgot your password?</h1>
    <p class="form_description">
      We will send you an email with instructions to reset your password.
    </p>

    <!-- Email Field -->
    <div class="form_group" [class.error]="isFieldInvalid('email')">
      <img src="/assets/icons/mail.png" alt="Icon" />
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email Address"
        autocomplete="email"
        required
      />
      <label for="email">Email Address</label>
    </div>
    @if (isFieldInvalid('email')) {
    <p class="error_label">Please enter a valid email address.</p>
    }

    <!-- Success Message -->
    @if (emailSent) {
    <div class="success_message">
      <img src="/assets/icons/check_circle.svg" alt="Success" />
      <p>Password reset email sent! Please check your inbox.</p>
    </div>
    }

    <!-- Error Message -->
    @if (errorMessage) {
    <p class="error_message">{{ errorMessage }}</p>
    }

    <!-- Submit Button -->
    <div class="form_actions">
      <button
        type="submit"
        class="sign_up_button"
        [disabled]="forgotPasswordForm.invalid || isSubmitting || emailSent"
      >
        {{ isSubmitting ? "Sending..." : "Send Email" }}
      </button>
    </div>
  </form>
</main>

<app-footer></app-footer>