@import './../../../styles.scss';

:host {
    display: block;
    width: 100%;
}

.main_footer {
    padding: 48px;
}

nav {
    @include flex-center(center, center, row, 32px);

    a {
        color: $link-color;
    }
}

@media only screen and (max-width: 769px) {
    .main_footer {
        gap: 16px;
    }
}

